useDynLib(onlinePCA)

importFrom(rARPACK,eigs_sym)
importFrom(Rcpp, evalCpp)
importFrom(splines,splineDesign)
importFrom(stats,lsfit,quantile,uniroot)

export(batchpca, ccipca, coef2fd, create.basis, fd2coef, ghapca, impute, incRpca, 
	incRpca.rc, perturbationRpca, secularRpca, sgapca, snlpca, 
	updateCovariance, updateMean)