useDynLib(onlinePCA)

importFrom(rARPACK, eigs_sym, svds)
importFrom(Rcpp, evalCpp)
importFrom(splines, splineDesign)
importFrom(stats, lsfit, quantile, runif, rnorm, uniroot)

export(batchpca, bsoipca, ccipca, coef2fd, create.basis, fd2coef, ghapca, impute, 
	incRpca, incRpca.block, incRpca.rc, perturbationRpca, secularRpca, 
	sgapca, snlpca, updateCovariance, updateMean)